<button
  (click)="onClick()"
  [disabled]="disabled()"
  class="flex items-center gap-2
         px-5 py-3
         rounded-full
         bg-[var(--color-button-primary)]
         text-white text-sm font-semibold
         shadow-md transition-all duration-300
         hover:opacity-90 hover:shadow-lg hover:scale-[1.03]
         active:scale-[0.98]
         disabled:opacity-50 disabled:cursor-not-allowed">

<i class="fa-solid" [class]="icon()"></i>
 <span>Añadir {{ entity() }}</span>

</button>
