<div class="flex items-center justify-center gap-2 mt-6">

  <!-- anterior -->
  <button
    class="px-4 py-2 rounded-full border
           border-[var(--color-primary-200)]
           text-[var(--color-title-main)]
           hover:bg-[var(--color-primary-50)]
           transition-all
           disabled:opacity-40 disabled:cursor-not-allowed"
    (click)="prev()"
    [disabled]="currentPage() === 0"
  >
    ←
  </button>

  <!-- páginas -->
  @for (page of pages(); track page) {

    <button
      class="w-10 h-10 flex items-center justify-center
             rounded-full border
             transition-all duration-200"

      [class.bg-[var(--color-primary-500)]]="page === currentPage()"
      [class.text-white]="page === currentPage()"
      [class.border-[var(--color-primary-500)]]="page === currentPage()"

      [class.border-[var(--color-primary-200)]]="page !== currentPage()"
      [class.text-[var(--color-title-main)]]="page !== currentPage()"
      [class.hover:bg-[var(--color-primary-100)]]="page !== currentPage()"

      (click)="goTo(page)"
    >
      {{ page + 1 }}
    </button>

  }

  <!-- siguiente -->
  <button
    class="px-4 py-2 rounded-full border
           border-[var(--color-primary-200)]
           text-[var(--color-title-main)]
           hover:bg-[var(--color-primary-50)]
           transition-all
           disabled:opacity-40 disabled:cursor-not-allowed"
    (click)="next()"
    [disabled]="currentPage() === totalPages() - 1"
  >
    →
  </button>

</div>
