  <div class="w-full flex flex-col mb-3">

    <div class="flex justify-between items-center">
      <h1 class="text-3xl font-bold">Gestion de {{entityName()}}</h1>

      <button
        class="flex items-center gap-2 px-5 py-2 rounded-full bg-violet-600 text-white text-sm font-semibold
              shadow-md transition-all duration-300
              hover:bg-violet-700 hover:shadow-lg hover:scale-[1.03] active:scale-[0.98]">
        <i class="fa-solid fa-plus text-base"></i>
        <span>Añadir {{entityName()}}</span>
      </button>
    </div>

    <div class="relative mt-10 w-full">
      <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2 text-gray-500"></i>
      <input
        type="text"
        class="border border-gray-300 rounded-md p-2 pl-10 w-full text-black placeholder-gray-400"
        placeholder="Buscar {{ entityName() }}"
      />
    </div>

  </div>
