<div class="flex flex-col h-full">

  <!-- MENU -->
  @for (item of menuOptions; track item.label) {
    <a
      [routerLink]="item.route"
      routerLinkActive="active-link"
      class="menu-item
             px-3 py-5 mb-3 rounded-xl
             text-[var(--color-navbar-text)]
             flex items-center gap-3
             font-medium text-sm
             transition-all duration-150"
    >
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </a>
  }

  <!-- LOGOUT -->
  <button
    (click)="logout()"
    class="menu-item mt-auto
           w-full text-left
           px-3 py-3 rounded-xl
           text-[var(--color-navbar-text)]
           flex items-center gap-3
           font-medium text-sm
           transition-all duration-150"
  >
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Cerrar sesión</span>
  </button>

</div>
