<div class="w-full">

  <div class="relative rounded-2xl shadow-lg bg-[var(--color-table-body-bg)]">

    <div class="overflow-x-auto custom-scroll rounded-2xl">

      <table class="min-w-[1200px] table-fixed w-full">

        <thead class="bg-[var(--color-table-header-bg)]
                       text-[var(--color-table-header-text)] text-sm">
          <tr>

            @for (col of columnsName(); track $index) {
              <th
                class="w-40 min-w-40 px-4 py-4 text-center font-semibold whitespace-nowrap">
                {{ col }}
              </th>
            }

            @if (actions().length) {
            <th
              class="sticky right-0 z-20
                    w-30 min-w-40
                    px-4 py-4
                    text-center font-semibold whitespace-nowrap
                    bg-[var(--color-table-header-bg)]">
              Acciones
            </th>
            }

          </tr>
        </thead>

        <tbody>
          @for (row of rows(); track $index) {
            <tr class="border-b border-[var(--color-table-header-bg)] last:border-none">

              @for (key of keys(); track key) {

                @if (key === 'status') {
                  <td class="w-40 min-w-40 px-4 py-3">
                    <span
                      class="block w-full truncate px-3 py-1 rounded-full text-sm font-medium text-center
                            shadow-[inset_0_1px_2px_rgba(255,255,255,0.25),inset_0_-2px_4px_rgba(0,0,0,0.2),0_2px_6px_rgba(0,0,0,0.25)]
                            ring-1 ring-white/10
                            transition-all duration-200
                            hover:scale-105
                            hover:shadow-[inset_0_1px_3px_rgba(255,255,255,0.3),inset_0_-3px_6px_rgba(0,0,0,0.25),0_4px_12px_rgba(0,0,0,0.35)]"

                      [class.bg-[var(--color-status-success-bg)]]="row[key] === 'ACTIVE'"
                      [class.text-[var(--color-status-success-text)]]="row[key] === 'ACTIVE'"

                      [class.bg-[var(--color-status-danger-bg)]]="row[key] === 'SUSPENDED'"
                      [class.text-[var(--color-status-danger-text)]]="row[key] === 'SUSPENDED'"

                      [class.bg-[var(--color-status-pending-bg)]]="row[key] === 'INACTIVE'"
                      [class.text-[var(--color-status-pending-text)]]="row[key] === 'INACTIVE'"
                    >
                      {{ row[key] }}
                  </span>
                  </td>
                }

                @else {
                 <td
                    class="w-40 min-w-40 px-4 py-3 truncate whitespace-nowrap text-[var(--color-title-main)] text-center"
                    [class.font-semibold]="key === 'fullName'">
                    {{ row[key] }}
                  </td>
                }

              }

      @if (actions().length) {
          <td class="sticky right-0 z-10
           w-[90px] min-w-[90px]
           bg-[var(--color-table-body-bg)]
           px-1 py-2">

            <div class="flex justify-center gap-3">

              @for (action of actions(); track action.icon) {
                <button
                    (click)="action.action(row)"
                    class="group px-2 py-2 rounded-full
                          flex items-center justify-center
                          transition-all duration-200

                          shadow-[inset_0_1px_2px_rgba(255,255,255,0.25),inset_0_-2px_4px_rgba(0,0,0,0.2),0_2px_6px_rgba(0,0,0,0.25)]
                          ring-1 ring-white/10

                          hover:scale-105
                          hover:shadow-[inset_0_1px_3px_rgba(255,255,255,0.3),inset_0_-3px_6px_rgba(0,0,0,0.25),0_4px_12px_rgba(0,0,0,0.35)]

                          active:scale-95
                          active:shadow-[inset_0_3px_6px_rgba(0,0,0,0.3)]

                          backdrop-blur-sm"

                    [class.bg-[var(--color-primary-100)]]="action.color === 'primary'"
                    [class.text-[var(--color-primary-600)]]="action.color === 'primary'"

                    [class.bg-red-100]="action.color === 'danger'"
                    [class.text-red-500]="action.color === 'danger'"
                  >
                    <i
                      [class]="action.icon"
                      class="text-lg
                            transition-all duration-200
                            group-hover:scale-110
                            group-hover:text-white">
                    </i>
              </button>
              }

            </div>
          </td>
        }

            </tr>
          }
        </tbody>

      </table>

    </div>

  </div>

</div>
